<!DOCTYPE html>
<html>
<head>
  <title>prueba de layout</title>
 <!--  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <%= csrf_meta_tags %> 

  <%= stylesheet_link_tag    'bootstrapcss', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'theme_bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'foto_subida', media: 'all', 'data-turbolinks-track' => true %>

</head>
<body>
<div class="container <%= params[:controller] %> <%= params[:action] %>">
	<%= yield %>
</div>


<script src="<%= asset_path 'bootstrap' %>"></script>
</body>
</html>
