<!DOCTYPE html>
<html>
<head>
  <title>prueba de layout</title>
 <!--  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <%= csrf_meta_tags %> 

  <link rel="stylesheet" href="<%= asset_path 'bootstrapcss' %>">
  <link rel="stylesheet" href="<%= asset_path 'theme_bootstrap' %>">
  <link rel="stylesheet" href="<%= asset_path 'foto_subida' %>">

</head>
<body>
<div class="container <%= params[:controller] %> <%= params[:action] %>">
	<%= yield %>
</div>


<script src="<%= asset_path 'bootstrap' %>"></script>
</body>
</html>
